
Birdler/Birdler.xcodeproj/project.xcworkspace/xcuserdata/henrique.xcuserdatad/UserInterfaceState.xcuserstate
Birdler/Birdler.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Birdler/Birdler.xcodeproj/project.xcworkspace/xcuserdata/pedroribeiro.xcuserdatad/UserInterfaceState.xcuserstate
